.venv/
__pycache__/
*.pyc

data/landing/*
!data/landing/.gitkeep

data/bronze/*
!data/bronze/.gitkeep

data/silver/*
!data/silver/.gitkeep

data/gold/*
!data/gold/.gitkeep

logs/

*.pkl
*.joblib

data/model/

reports/